services:
  mopidy-vkm:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        - USER_UID=${USER_UID:-1000}
        - USER_GID=${USER_GID:-1000}
    mem_limit: 6g
    memswap_limit: 6g
    volumes:
      - ..:/workspace:cached
      - ~/.ssh:/home/mopidy/.ssh:ro
      - ~/.gitconfig:/home/mopidy/.gitconfig:ro
      - command-history:/commandhistory
      - uv-venv:/home/mopidy/.venv
      - js-tools-node-modules:/workspace/js-tools/node_modules
      - vscode-server-storage:/home/mopidy/.vscode-server/data
      - playwright-browsers:/workspace/.browsers
    tmpfs:
      - /tmp:rw,size=100m,mode=1777
    environment:
      - PULSE_SERVER=tcp:host.docker.internal:4713
      - USER_UID=${USER_UID:-1000}
      - USER_GID=${USER_GID:-1000}
      - HISTFILE=/commandhistory/.bash_history
      - DISPLAY=:99
      - PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=0
    ports:
      - "6600:6600"
      - "6680:6680"
    networks:
      - mopidy-network
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
      # - DAC_OVERRIDE  # Для работы с /tmp/.X11-unix
    devices:
      - /dev/snd:/dev/snd
    user: mopidy
    working_dir: /workspace
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: sleep infinity

volumes:
  command-history:
    driver: local

  js-tools-node-modules:
    driver: local

  playwright-browsers:
      driver: local

  vscode-server-storage:
    driver: local

  uv-venv:
    driver: local

networks:
  mopidy-network:
    driver: bridge
